.footer {
    background-color: $Black;
    color: $White;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 20px;
    
    &__links {
        
        ul{
            padding-left: 0;
            margin-top: 40px;
            margin-bottom: 40px;
            @include breackpoint-up(large){
                display: flex;
                margin-top: 20px;
            }
            li {
                list-style: none;
                margin-bottom: 23px;
                @include breackpoint-up(large){
                    margin-right: 40px;
                }

                a {
                    position: relative;
                    text-decoration: none;
                    font-weight: 500;
                    letter-spacing: 1px;
                    color: $White;
                    transition: 200ms ease-in-out;
                    
                    &::before {
                        content: "";
                        display: block;
                        position: absolute;
                        width: 50%;
                        height: 2.5px;
                        background: white;
                        left: 13px;
                        bottom: -10px;
                        opacity: 0;
                        transition: opacity 200ms ease-in-out;
                    }
                    &:hover {
                        &::before {
                            opacity: 1;
                        }
                    }
                }
            }
        }
        
    }

    .flex1 {
        @include breackpoint-up(large){
            text-align: left;
        img {
            margin-bottom: 0;
        }
        }
    }
    .flex2 {
        @include breackpoint-up(large){
            text-align: right;
        }
    }
    .social{
        margin-bottom: 20px;
        a{
            position: relative;
            transition: 200ms ease-in-out;
            &::before {
                content: "";
                display: block;
                position: absolute;
                width: 70%;
                height: 2.5px;
                background: white;
                left: 5px;
                bottom: -15px;
                opacity: 0;
                transition: opacity 200ms ease-in-out;
            }
            &:hover {
                &::before {
                    opacity: 1;
                }
            }
        }
        img{
            margin-right: 5px;
            margin-left: 5px;
        }
    }

    p {
        color: $VeryDarkGray;
        font-weight: 700;
    }

    &__flex{
        @include breackpoint-up(large){
            display: flex;
            justify-content: space-between;
        }
    }
}